.movie-details-wrapper {
  color: white;
  margin: auto;
  cursor: default;

  .movie-details-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      background: rgba(132, 127, 134, 0.8);
      padding: 20px;
      margin: auto;
      border-radius: 10px;
    }

    .fa {
      font-size: 40px;
      padding-left: 20px;
      cursor: pointer;
    }
  }

  img.movie-details-backdrop {
    min-height: 100%;
    min-width: 1280px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .movie-details-poster-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3% 450px 450px 80px;
    grid-gap: 15px;
    justify-items: center;

    .movie-details-poster {
      border-radius: 10px;
      border: solid #847f86 10px;
      grid-row: 2;
    }

    .movie-details-info {
      grid-row: 2 / 3;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 90%;
      background: rgba(132, 127, 134, 0.7);
      padding: 20px;
      border-radius: 10px;
      font-family: monospace;
      font-size: 20px;
      overflow: scroll;
    }

    .movie-details-reviews {
      grid-column: 2;
      grid-row: 3 / 4;
      width: 90%;
      background: rgba(132, 127, 134, 0.7);
      padding: 20px;
      border-radius: 10px;
      font-family: monospace;
      display: flex;
      flex-direction: column;
      font-size: 20px;
    }
  }
}

// mobile view
@media only screen and (max-width: 549px) {
  .movie-details-wrapper {
    h1 {
      width: 80%;
      font-size: 28px;
      margin-right: 20px;
    }

    .movie-details-poster-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .movie-details-poster {
        width: 300px;
        margin: 20px 0;
        overflow-y: scroll;
      }

      .movie-details-info {
        width: calc(100% - 80px);
        min-width: 300px;
        min-height: 300px;
        font-size: 22px;
        margin: 20px 0;
      }

      .movie-details-reviews {
        width: calc(100% - 80px);
        min-width: 300px;
        font-size: 22px;
        margin: 20px 0;
      }
    }
  }
}

// tablet view
@media only screen and (min-width: 550px) and (max-width: 1089px) {
  .movie-details-wrapper {
    .movie-details-title {
      width: 90%;
    }
    .movie-details-poster-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .movie-details-poster {
        margin: 20px 0;
      }

      .movie-details-info {
        width: calc(100% - 250px);
        min-width: 500px;
        margin: 20px 0;
        min-height: 300px;
        overflow-y: scroll;
      }

      .movie-details-reviews {
        font-size: 20px;
        width: calc(100% - 250px);
        min-width: 500px;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

// desktop view
@media only screen and (min-width: 1090px) {
  .movie-details-wrapper {
    max-width: 1500px;
  }
}
