.genres-page {
  .genre-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    grid-gap: 15px;
    justify-items: center;
    margin: auto;
  }
}

// tablet view
@media only screen and (min-width: 600px) and (max-width: 969px) {
  .genres-page {
    .genre-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

// mobile view
@media only screen and (min-width: 375px) and (max-width: 599px) {
  .genres-page {
    .genre-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
