.genre-component {
  width: 180px;
  height: 180px;
  border-radius: 3%;
  background-color: #e4c1f4;
  border: 10px solid #9b6db0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
}

// tablet / mobile view
@media only screen and (max-width: 766px) {
  .genre-component {
    width: 140px;
    height: 140px;
    font-size: 18px;
  }
}
