
.navbar-wrapper {
    background: #b65be1;
    margin-top: -25px;
    font-size: 24px;
  }
  
  .navbar-links {
    padding: 0;
    list-style: none;
    div:first-child {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    div:nth-child(2) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  .navbar-link {
    margin: 15px;
    width: auto;
  }
  
  .navbar-link > a > img {
    height: 50px;
  }
  
  .navbar-link > a {
    text-decoration: none;
    color: #f6eafb;
  }
  
  a.active {
    color: #5be1b6;
  }

  .bars {
    font-size: 45px;
    color: white
  }

@media only screen and (min-width: 745px) {
  .bars {
    display: none;
  }

  .navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div:nth-child(2) {
      display: flex !important;
      flex-direction: row;
    }
  }
}

@media only screen and (min-width: 1500px) {
  .navbar-links {
    max-width: 1500px;
    margin: 24px auto;
  }
}