.navbar-wrapper {
  background: #b65be1;
  font-size: 24px;
  width: 100vw;
}

.navbar-links {
  padding: 0;
  list-style: none;
  div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.navbar-link,
.navbar-link-logo {
  margin: 15px;
  width: auto;
}

.navbar-link-logo > a > img {
  height: 50px;
}

.navbar-link > a {
  text-decoration: none;
  color: #f6eafb;
}

a.active {
  color: #5be1b6;
}

.bars {
  font-size: 45px;
  color: white;
}

// mobile view
@media only screen and (max-width: 766px) {
  .navbar-links {
    .navbar-link {
      border-bottom: 1px solid white;
      width: 100%;
      padding: 15px;
    }

    .bars {
      border: none;
      width: auto;
    }
  }
}

// tablet view
@media only screen and (min-width: 767px) {
  .bars {
    display: none;
  }

  .navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div:nth-child(2) {
      display: flex !important;
      flex-direction: row;
    }
  }
}

// desktop view
@media only screen and (min-width: 1500px) {
  .navbar-links {
    max-width: 1500px;
    margin: 24px auto;
  }
}
